Hello, here's the job I've done for the first lab

I need to say there are a lot of things I've already know about programming (since I'm studying Computing Engeneering). So, the first parts about basic programming or even the Object-Oriented Programming is rarely commented. As soon as it start talking about pandas and numpy, I started to leave comments about everything I've thought those lines make. In some parts you find red comments instead of the green-basic onse. Those parts are the codes I didn't knew we can make and what I understood.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [1]:
my_string1 = 'Welcome to' 
my_string2 = "QuantConnect" 
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

An integer is a round number with no values after the decimal point.

In [2]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

The built-in function int() can convert a string into an integer.

In [3]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [4]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))
flo=3.54
print(type(flo))

<class 'float'>
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [5]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [6]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [7]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [9]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [10]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [12]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go there'
print(my_list)

['Quant', 'Connect', 'go there', 2, 3]

A list can also be sliced with a colon:

In [14]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:4])

['Connect', 1, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [15]:
print(my_list[1:])

['Connect', 1, 2, 3]

And all elements up to but excluding index 3:

In [16]:
print(my_list[:3])

['Quant', 'Connect', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [18]:
my_list = ['Hello', 'Quant']
my_list.append('Bye')
print(my_list)

['Hello', 'Quant', 'Bye']

In [19]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Bye']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [20]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [21]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [22]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [23]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [24]:
print(my_dic['GOOG'])

Alphabet

After defining a dictionary, we can access any value by indicating its key in brackets.

In [25]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

We can also change the value associated with a specified key:

In [26]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [27]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [32]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e')) #Just the index of the first occurrence found 
print('all the a in this sentence now becomes e'.replace('a','e', 1)) #The 3rd parameter to just replace n times the letter a

7
2
ell the a in this sentence now becomes e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [33]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ') #It returns a list [2016-04-01, 09:43:00]
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0] #'Cause time = [09, 43, 00]
print(hour)

2016-04-01 09:43:00
09

We can replace parts of a string by our variable. This is called string formatting.

In [35]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

Another way to format a string is to use the % symbol.

In [36]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [37]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [38]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [39]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [1]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [2]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [3]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [4]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [6]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [7]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [8]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [9]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [10]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [11]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [12]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [13]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [14]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [19]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [20]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [21]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [22]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [23]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [24]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [25]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [26]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [27]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [28]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [29]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [30]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [31]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [32]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [33]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [34]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [35]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [37]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [38]:
import numpy as np #Import numpy code to our file

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [40]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list) #It creates an array with the list items
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [41]:
Ar = np.array([[1,3],[2,4]]) #It creates a 2x2 matrix
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [42]:
print(Ar.shape) #It returns (the number of rows, the number of columns)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [43]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [44]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [45]:
print(np.log(price_array)) # it works for each element, instead of using a loop

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [47]:
print(np.mean(price_array)) #It returns the mean of all values of the array e.g (n1+n2+n3+n4)/4
print(np.std(price_array)) #It returns the standard deviation e.g sqrt(((n1-mean)**2 + (n1-mean)**2...) / n-1)
print(np.sum(price_array)) #It gets the sum of all values e.g np.sum([1,2,3]) == 6
print(np.max(price_array)) #It gets the maximun value e.g np.max([1,2,3]) == 3

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [48]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [49]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price) #Like a list, but with labels 
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [50]:
s = pd.Series(price,index = ['a','b','c','d','e','f']) #Asign a custom name for each value
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [51]:
s.index = [6,5,4,3,2,1] #Changing the names 
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [53]:
print(s[1:])
print(s[:-2]) #Get a subset of values

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [55]:
print(s[4])
s[4] = 0 #update the value of the item with label "4"
print(s)

0.0
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [58]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name) #Just adding a name for the data structure

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe()) #It gets the most important statistics of the set of values

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [60]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D') #It creates a list of dates-index with a diary frequency of lenght s 
print(time_index)
s.index = time_index #We assign the dates to our serie
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [65]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1]) #Here we take the element with label "1"

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [66]:
print(s.iloc[1]) #Here we the the 1st element of the zero-indexed serie

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [70]:
s.index = time_index 
print(s['2017-01-04']) #The same search by label

144.02

We can even access to a range of dates:

In [69]:
print(s['2017-01-02':'2017-01-04']) #Like a range of dates

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [72]:
print(s[s < np.mean(s)] ) 
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])
# It works like a filter for our search i.e the first line gets all values greater than the mean

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [2]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 62 kB 1.2 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [3]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info) #We get the info retrieved from Yahoo

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31") #We use use info between theses dates
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.3343, 'profitMargins': 0.25709, 'grossMargins': 0.43313998, 'operatingCashflow': 118224003072, 'revenueGrowth': 0.019, 'operatingMargins': 0.30533, 'ebitda': 129556996096, 'targetLowPrice': 136, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 83344621568, 'targetMedianPrice': 185, 'currentPrice': 167.57, 'earningsGrowth': -0.077, 'currentRatio': 0.865, 'returnOnAssets': 0.22204, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 183.94, 'debtToEquity': 205.984, 'returnOnEquity': 1.62816, 'targetHighPrice': 220, 'totalCash': 48230998016, 'totalDebt': 119691001856, 'totalRevenue': 387541991424, 'totalCashPerShare': 3.001, 'financialCurrency': 'USD', 'revenuePerShare': 23.732, 'quickRatio': 0.697, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.297, 'beta3Year': None, 'enterpriseToEbitda': 21.828, '52WeekChange': 0.11997056, 'morningStarRiskRating': None, 'forwardEps': 6.44, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16070800384, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.61, 'sharesShort': 107535584, 'sharesPercentSharesOut': 0.0067000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59714, 'netIncomeToCommon': 99632996352, 'trailingEps': 6.05, 'lastDividendValue': 0.23, 'SandP52WeekChange': -0.0776242, 'priceToBook': 46.418285, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1656115200, 'shortRatio': 1.47, 'sharesShortPreviousMonthDate': 1656547200, 'floatShares': 16053234880, 'beta': 1.230174, 'enterpriseValue': 2827915362304, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1659657600, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.106, 'priceToSalesTrailing12Months': 6.9488835, 'dateShortInterest': 1659052800, 'pegRatio': 2.97, 'ytdReturn': None, 'forwardPE': 26.020187, 'lastCapGain': None, 'shortPercentOfFloat': 0.0067000003, 'sharesShortPriorMonth': 112994371, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 171.52, 'regularMarketOpen': 169.69, 'twoHundredDayAverage': 160.5414, 'trailingAnnualDividendYield': 0.005188899, 'payoutRatio': 0.1471, 'volume24Hr': None, 'regularMarketDayHigh': 169.86, 'navPrice': None, 'averageDailyVolume10Day': 64986660, 'regularMarketPreviousClose': 171.52, 'fiftyDayAverage': 151.8174, 'trailingAnnualDividendRate': 0.89, 'open': 169.69, 'toCurrency': None, 'averageVolume10days': 64986660, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.92, 'exDividendDate': 1659657600, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 167.135, 'currency': 'USD', 'trailingPE': 27.697521, 'regularMarketVolume': 69026809, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2692984078336, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75976603, 'dayLow': 167.135, 'ask': 167.98, 'askSize': 1100, 'volume': 69026809, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.05, 'fiftyTwoWeekLow': 129.04, 'bid': 167.73, 'tradeable': False, 'dividendYield': 0.0054, 'bidSize': 1100, 'dayHigh': 169.86, 'coinMarketCapLink': None, 'regularMarketPrice': 167.57, 'preMarketPrice': 169.71, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.1143}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.523356,24.156087,23.383513,24.151501,270597600,0.0,0
2016-01-05,24.243202,24.266127,23.477508,23.546282,223164000,0.0,0
2016-01-06,23.053381,23.468325,22.895200,23.085476,273829600,0.0,0
2016-01-07,22.622400,22.954812,22.106587,22.111172,324377600,0.0,0
2016-01-08,22.592597,22.720976,22.182239,22.228088,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.594672,41.770882,41.551813,41.673252,65397600,0.0,0
2017-12-26,40.670775,40.830315,40.404079,40.616009,132742000,0.0,0
2017-12-27,40.504090,40.666010,40.411224,40.623150,85992800,0.0,0
2017-12-28,40.718396,40.920799,40.594573,40.737446,65920800,0.0,0
2017-12-29,40.604104,40.620771,40.294549,40.296928,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [4]:
aapl = aapl_table['Close']['2017'] #We choose the column and the year we need

In [5]:
print(aapl)

Date
2017-01-03    27.219837
2017-01-04    27.189369
2017-01-05    27.327637
2017-01-06    27.632290
2017-01-09    27.885386
                ...
2017-12-22    41.673252
2017-12-26    40.616009
2017-12-27    40.623150
2017-12-28    40.737446
2017-12-29    40.296928
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [6]:
print(aapl['2017-3']) #We select only the 3rd month (Like when we slice a list)

Date
2017-03-01    32.901913
2017-03-02    32.706562
2017-03-03    32.899567
2017-03-06    32.795998
2017-03-07    32.838367
2017-03-08    32.715977
2017-03-09    32.640659
2017-03-10    32.748936
2017-03-13    32.763046
2017-03-14    32.713631
2017-03-15    33.059620
2017-03-16    33.113750
2017-03-17    32.948997
2017-03-20    33.294983
2017-03-21    32.913689
2017-03-22    33.285568
2017-03-23    33.167877
2017-03-24    33.101974
2017-03-27    33.158455
2017-03-28    33.845741
2017-03-29    33.921055
2017-03-30    33.876331
2017-03-31    33.812782
Name: Close, dtype: float64

In [7]:
aapl['2017-2':'2017-4'] # Or the data in a range of months

Date
2017-02-01    30.172655
2017-02-02    30.121096
2017-02-03    30.249990
2017-02-06    30.533548
2017-02-07    30.824144
                ...
2017-04-24    33.808079
2017-04-25    34.017559
2017-04-26    33.817486
2017-04-27    33.843388
2017-04-28    33.810436
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [8]:
print(aapl.head(5)) #I get the firsts 5 elements of data
print(aapl.tail(10)) #I get the last 10 elements of data

Date
2017-01-03    27.219837
2017-01-04    27.189369
2017-01-05    27.327637
2017-01-06    27.632290
2017-01-09    27.885386
Name: Close, dtype: float64
Date
2017-12-15    41.425606
2017-12-18    42.009010
2017-12-19    41.561333
2017-12-20    41.516102
2017-12-21    41.673252
2017-12-22    41.673252
2017-12-26    40.616009
2017-12-27    40.623150
2017-12-28    40.737446
2017-12-29    40.296928
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [9]:
by_month = aapl.resample('M').mean() #We group all data monthly and get the mean of each month 
print(by_month)

Date
2017-01-31    28.021313
2017-02-28    31.430155
2017-03-31    33.096760
2017-04-30    33.630809
2017-05-31    35.924379
2017-06-30    34.938203
2017-07-31    35.048843
2017-08-31    37.686052
2017-09-30    37.395193
2017-10-31    37.444727
2017-11-30    41.004146
2017-12-31    40.930681
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [11]:
by_week = aapl.resample('W').mean() #The same but grouping by weeks
print(by_week.head())

Date
2017-01-08    27.342283
2017-01-15    27.941163
2017-01-22    28.108611
2017-01-29    28.394868
2017-02-05    29.497255
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [12]:
aapl.resample('M').max() #We group then we get the max value of each month

Date
2017-01-31    28.579065
2017-02-28    32.271133
2017-03-31    33.921055
2017-04-30    34.074039
2017-05-31    36.892399
2017-06-30    36.738781
2017-07-31    36.268463
2017-08-31    38.911682
2017-09-30    38.923542
2017-10-31    40.107502
2017-11-30    41.815823
2017-12-31    42.009010
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [14]:
three_day = aapl.resample('3D').mean() #First, we resample each 3 days
two_week = aapl.resample('2W').mean() #Here, we take 2 weeks-groups of data
two_month = aapl.resample('2M').mean() #Here, we take 2 months-groups of data


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.245614
2017-01-06    27.632290
2017-01-09    27.954129
2017-01-12    27.921714
2017-01-15    28.122086
                ...
2017-12-17    41.785172
2017-12-20    41.620869
2017-12-23          NaN
2017-12-26    40.658868
2017-12-29    40.296928
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.342283
2017-01-22    28.015584
2017-02-05    28.946061
2017-02-19    31.341192
2017-03-05    32.413924
2017-03-19    32.833898
2017-04-02    33.437846
2017-04-16    33.661104
2017-04-30    33.603544
2017-05-14    35.498714
2017-05-28    36.292807
2017-06-11    36.311533
2017-06-25    34.336637
2017-07-09    34.074194
2017-07-23    35.082286
2017-08-06    36.070650
2017-08-20    37.692905
2017-09-03    38.244488
2017-09-17    38.069385
2017-10-01    36.635585
2017-10-15    36.865020
2017-10-29    37.546924
2017-11-12    40.803594
2017-11-26    40.974771
2017-12-10    40.639341
2017-12-24    41.388941
2018-01-07    40.568383
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.021313
2017-03-31    32.342819
2017-05-31    34.861505
2017-07-31    34.990889
2017-09-30    37.550769
2017-11-30    39.183048
2018-01-31    40.930681
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [15]:
std = aapl.resample('W').std() #It gets the standart deviation 
max = aapl.resample('W').max() #It returns the max value
min = aapl.resample('W').min() #It returns the min value
#Each of the statistics told are set for each of the time-groups of data

print(std)
print(max)
print(min)

Date
2017-01-08    0.202233
2017-01-15    0.072125
2017-01-22    0.025411
2017-01-29    0.243921
2017-02-05    0.938005
2017-02-12    0.250599
2017-02-19    0.230106
2017-02-26    0.059013
2017-03-05    0.338196
2017-03-12    0.075859
2017-03-19    0.176845
2017-03-26    0.156387
2017-04-02    0.318030
2017-04-09    0.127971
2017-04-16    0.211290
2017-04-23    0.173699
2017-04-30    0.089525
2017-05-07    0.234327
2017-05-14    0.351010
2017-05-21    0.533106
2017-05-28    0.060061
2017-06-04    0.279653
2017-06-11    0.616582
2017-06-18    0.380435
2017-06-25    0.128175
2017-07-02    0.262636
2017-07-09    0.158007
2017-07-16    0.402030
2017-07-23    0.124289
2017-07-30    0.382301
2017-08-06    0.919238
2017-08-13    0.464865
2017-08-20    0.432825
2017-08-27    0.274231
2017-09-03    0.250323
2017-09-10    0.379513
2017-09-17    0.292503
2017-09-24    0.731096
2017-10-01    0.352870
2017-10-08    0.203710
2017-10-15    0.118067
2017-10-22    0.514116
2017-10-29    0.676660
2017-11-05    0.557559
2017-11-12    0.189906
2017-11-19    0.433766
2017-11-26    0.559912
2017-12-03    0.425066
2017-12-10    0.072721
2017-12-17    0.204120
2017-12-24    0.193046
2017-12-31    0.189330
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.632290
2017-01-15    28.063492
2017-01-22    28.122086
2017-01-29    28.579065
2017-02-05    30.249990
2017-02-12    31.167263
2017-02-19    31.943974
2017-02-26    32.271133
2017-03-05    32.901913
2017-03-12    32.838367
2017-03-19    33.113750
2017-03-26    33.294983
2017-04-02    33.921055
2017-04-09    34.074039
2017-04-16    33.697453
2017-04-23    33.525635
2017-04-30    34.017559
2017-05-07    35.060238
2017-05-14    36.892399
2017-05-21    36.797859
2017-05-28    36.393734
2017-06-04    36.738781
2017-06-11    36.719868
2017-06-18    34.644814
2017-06-25    34.585743
2017-07-02    34.465202
2017-07-09    34.075249
2017-07-16    35.223850
2017-07-23    35.691799
2017-07-30    36.268463
2017-08-06    37.138187
2017-08-13    38.064644
2017-08-20    38.342236
2017-08-27    37.957874
2017-09-03    38.923542
2017-09-10    38.456131
2017-09-17    38.318523
2017-09-24    37.661289
2017-10-01    36.593590
2017-10-08    36.868809
2017-10-15    37.248436
2017-10-22    38.074135
2017-10-29    38.686272
2017-11-05    40.928444
2017-11-12    41.815823
2017-11-19    41.425606
2017-11-26    41.663727
2017-12-03    41.454185
2017-12-10    40.432652
2017-12-17    41.425606
2017-12-24    42.009010
2017-12-31    40.737446
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.189369
2017-01-15    27.885386
2017-01-22    28.070530
2017-01-29    28.115053
2017-02-05    28.438457
2017-02-12    30.533548
2017-02-19    31.372025
2017-02-26    32.134621
2017-03-05    32.228764
2017-03-12    32.640659
2017-03-19    32.713631
2017-03-26    32.913689
2017-04-02    33.158455
2017-04-09    33.737465
2017-04-16    33.198479
2017-04-23    33.111385
2017-04-30    33.808079
2017-05-07    34.488297
2017-05-14    36.013470
2017-05-21    35.509815
2017-05-28    36.240097
2017-06-04    36.103039
2017-06-11    35.209663
2017-06-18    33.623833
2017-06-25    34.271412
2017-07-02    33.957073
2017-07-09    33.732555
2017-07-16    34.283222
2017-07-23    35.346756
2017-07-30    35.332561
2017-08-06    35.150589
2017-08-13    36.852211
2017-08-20    37.369446
2017-08-27    37.300644
2017-09-03    38.311394
2017-09-10    37.637562
2017-09-17    37.554512
2017-09-24    36.038391
2017-10-01    35.720444
2017-10-08    36.415642
2017-10-15    36.975590
2017-10-22    37.008808
2017-10-29    37.053883
2017-11-05    39.557041
2017-11-12    41.343666
2017-11-19    40.261208
2017-11-26    40.475510
2017-12-03    40.356445
2017-12-10    40.244541
2017-12-17    40.885075
2017-12-24    41.516102
2017-12-31    40.296928
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [17]:
last_day = aapl.resample('M').agg(lambda x: x[-1])

'''
Here we group all data by month, the we show only the last value of 
each group. That's why we use the lambda function (for each group 
we take the element -1, i mean, the last one)
'''

print(last_day)

Date
2017-01-31    28.438457
2017-02-28    32.242893
2017-03-31    33.812782
2017-04-30    33.810436
2017-05-31    36.103039
2017-06-30    34.037434
2017-07-31    35.150589
2017-08-31    38.911682
2017-09-30    36.567490
2017-10-31    40.107502
2017-11-30    40.920799
2017-12-31    40.296928
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [18]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
'''
We use the same method with a lambda funcions, but calculating the rate 
of return instead. For each group we take the last element divided
by the first one, we substract 1 and we get the rate
'''
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [21]:
'''
The same general statistics, applied to all our data
It returns just a value
'''
print(monthly_return.mean()) #Mean value
print(monthly_return.std()) #Standart deviation
print(monthly_return.max()) #Maximun value
print(monthly_return.min()) #Minimun value

0.026863355122889537
0.05225852838238765
0.09901806982326544
-0.060530267191698406

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [23]:
'''
This method takes each one of the elements of our serie 
and finds the difference of this value compared to the
previus one. As soon as the first element cannot be
compared, it returns a NaN value
'''
print(last_day.diff())
'''
It makes the same process, but telling the percentage
of changing instead of the difference
'''
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.804436
2017-03-31    1.569889
2017-04-30   -0.002346
2017-05-31    2.292603
2017-06-30   -2.065605
2017-07-31    1.113155
2017-08-31    3.761093
2017-09-30   -2.344193
2017-10-31    3.540012
2017-11-30    0.813297
2017-12-31   -0.623871
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [24]:
daily_return = last_day.pct_change()
'''
It is recomender not to hace NaN values, so we
replace those values with a zero (Whatever value you want)
'''
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [25]:
daily_return = last_day.pct_change()
'''
The same problem with NaN values, we replace them 
with the next value, i mean, the NaN is in the 
first position, we will replace it with the 
second value
'''
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [26]:
daily_return = last_day.pct_change()
# As it says, it just remove the row where NaN value is found
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [28]:
import pandas as pd

'''
We create the dict with the info, where each key contains the info for each
columns of our future DataFrame
'''
dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
'''
Create the list of dates we wiil need to index our data
'''
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')


df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [30]:
df = aapl_table
'''
there is showed the ways of calling a column
.tail(n) gets the lasts n elements
'''
print(df.Close.tail(5)) #Or df['Close'].tail(5)
print(df['Volume'].tail(5)) #Or df.Volume.tail(5)

Date
2017-12-22    41.673252
2017-12-26    40.616009
2017-12-27    40.623150
2017-12-28    40.737446
2017-12-29    40.296928
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [34]:
'''
This this is the proof of the funcions we've already seen
for DataFrame Structures
'''
aapl_2016 = df['2016'] #The slice
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1]) #The resampling method whith the last-day calling 
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197  257666000        0.0
2016-02-29  22.325658  22.641435  22.277254  22.286474  140865200        0.0
2016-03-31  25.289811  25.331300  25.096195  25.121550  103553600        0.0
2016-04-30  21.664136  21.832397  21.323005  21.606512  274126000        0.0
2016-05-31  23.096982  23.282501  22.916103  23.157276  169228800        0.0
2016-06-30  21.900392  22.208814  21.867926  22.169392  143345600        0.0
2016-07-31  24.161390  24.244873  24.043122  24.166027  110934800        0.0
2016-08-31  24.635018  24.847187  24.630354  24.737604  118649600        0.0
2016-09-30  26.220457  26.432628  26.066577  26.358019  145516400        0.0
2016-10-31  26.497908  26.633138  26.392988  26.472261  105677600        0.0
2016-11-30  26.153543  26.294153  25.841856  25.900444  144649200        0.0
2016-12-31  27.337008  27.465899  27.051099  27.142496  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """

We may select certain columns of a DataFrame using their names:

In [35]:
'''
That's how we slice a DataFrame in order to obtain 
certain columns, Open, High, Low and Close in this case
'''
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197
2016-02-29  22.325658  22.641435  22.277254  22.286474
2016-03-31  25.289811  25.331300  25.096195  25.121550
2016-04-30  21.664136  21.832397  21.323005  21.606512
2016-05-31  23.096982  23.282501  22.916103  23.157276
2016-06-30  21.900392  22.208814  21.867926  22.169392
2016-07-31  24.161390  24.244873  24.043122  24.166027
2016-08-31  24.635018  24.847187  24.630354  24.737604
2016-09-30  26.220457  26.432628  26.066577  26.358019
2016-10-31  26.497908  26.633138  26.392988  26.472261
2016-11-30  26.153543  26.294153  25.841856  25.900444
2016-12-31  27.337008  27.465899  27.051099  27.142496

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [36]:
'''
Here's the way to filter our info by a range of dates and a group of columns names
'''
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.289811  25.331300  25.096195  25.121550
2016-04-30  21.664136  21.832397  21.323005  21.606512
2016-05-31  23.096982  23.282501  22.916103  23.157276
2016-06-30  21.900392  22.208814  21.867926  22.169392

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [37]:
import numpy as np
'''
Here we combine pandas and numpy to request
all the rows where the Close value is 
greater than the mean of the Close values
'''
above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.289811  25.331300  25.096195  25.121550
2016-08-31  24.635018  24.847187  24.630354  24.737604
2016-09-30  26.220457  26.432628  26.066577  26.358019
2016-10-31  26.497908  26.633138  26.392988  26.472261
2016-11-30  26.153543  26.294153  25.841856  25.900444
2016-12-31  27.337008  27.465899  27.051099  27.142496

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [39]:
'''
We asign to a new column the value of the pct_change 
applied to the Close Serie
'''
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197          NaN
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096982  23.282501  22.916103  23.157276     0.071773
2016-06-30  21.900392  22.208814  21.867926  22.169392    -0.042660
2016-07-31  24.161390  24.244873  24.043122  24.166027     0.090063
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153543  26.294153  25.841856  25.900444    -0.021601
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [40]:
'''
.isnull() returns a DataFrame full of Trues or Falses
Depending if that field is null or not. 
'''
missing = aapl_bar.isnull() 
print(missing)
print('---------------------------------------------')
'''
Then we describe the DataFrame. In case we only have 1
unique value per column, it means there is not NaN 
values in that column. In case we have 2, it means 
we have at least 1 NaN.
'''
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [41]:
'''
The same way we filter the series with logical conditions
We use that for displaying the row with a missing value.
'''
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [43]:
'''
The same methods for deleting the NaN values or replacing them
with a value. In this case, by deleting a NaN value, we remove 
all tha row where it is found. 
'''
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096982  23.282501  22.916103  23.157276     0.071773
2016-06-30  21.900392  22.208814  21.867926  22.169392    -0.042660
2016-07-31  24.161390  24.244873  24.043122  24.166027     0.090063
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153543  26.294153  25.841856  25.900444    -0.021601
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197     0.000000
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096982  23.282501  22.916103  23.157276     0.071773
2016-06-30  21.900392  22.208814  21.867926  22.169392    -0.042660
2016-07-31  24.161390  24.244873  24.043122  24.166027     0.090063
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153543  26.294153  25.841856  25.900444    -0.021601
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [49]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG') # We define 2 series 
data_frame = pd.concat([s1,s2], axis = 1) #We merge them, like putting them in the same spreadsheets
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [50]:
log_price = np.log(aapl_bar.Close) #It gets an array of the log for each value of the serie
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1) #We merge them with the origina DataFrame
print(concat)

Date
2016-01-31    3.105268
2016-02-29    3.103980
2016-03-31    3.223726
2016-04-30    3.072995
2016-05-31    3.142309
2016-06-30    3.098713
2016-07-31    3.184948
2016-08-31    3.208325
2016-09-30    3.271773
2016-10-31    3.276097
2016-11-30    3.254260
2016-12-31    3.301101
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197          NaN   3.105268
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287   3.103980
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211   3.223726
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921   3.072995
2016-05-31  23.096982  23.282501  22.916103  23.157276     0.071773   3.142309
2016-06-30  21.900392  22.208814  21.867926  22.169392    -0.042660   3.098713
2016-07-31  24.161390  24.244873  24.043122  24.166027     0.090063   3.184948
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652   3.208325
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504   3.271773
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334   3.276097
2016-11-30  26.153543  26.294153  25.841856  25.900444    -0.021601   3.254260
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955   3.301101

We can also join two DataFrames by rows. Consider these two DataFrames:

In [51]:
'''
Here we take 2 DataFrames by slicing by dates and columns names the aapl_table
Also, we use the lambda function to get the last value of each group
'''
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.497908  26.633138  26.392988  26.472261
2016-11-30  26.153543  26.294153  25.841856  25.900444
2016-12-31  27.337008  27.465899  27.051099  27.142496
2017-01-31  28.391588  28.447832  28.267382  28.438457
2017-02-28  32.264075  32.348808  32.174635  32.242893
2017-03-31  33.826904  33.956356  33.659792  33.812782
2017-04-30  33.913998  33.963427  33.720999  33.810436

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [52]:
concat = pd.concat([aapl_bar, df_volume], axis = 1) #We join the complete table and the volume we just calculed
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197          NaN
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096982  23.282501  22.916103  23.157276     0.071773
2016-06-30  21.900392  22.208814  21.867926  22.169392    -0.042660
2016-07-31  24.161390  24.244873  24.043122  24.166027     0.090063
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153543  26.294153  25.841856  25.900444    -0.021601
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [55]:
'''
As in the first df we find elements we don't in the second one,
when we merge them, it fills the columns it doesn't know 
with NaN. Just to complete the table (it happens to the rows the 
two df don't have in common)

To solve this problem, we use the inner join, wich just merge them 
if the register exists in the 2 DataFrames.
'''

concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153543  26.294153  25.841856  25.900444    -0.021601
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017) #We just add the rows of df_2017 to the main table we havw
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [57]:
'''
This is the other way of adding all the rows from a DataFrame, to another one

If the two DataFrames don't have the same number of columns, it fills whith NaN
'''
concat = pd.concat([aapl_bar, df_2017], axis = 0) 
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197          NaN
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096982  23.282501  22.916103  23.157276     0.071773
2016-06-30  21.900392  22.208814  21.867926  22.169392    -0.042660
2016-07-31  24.161390  24.244873  24.043122  24.166027     0.090063
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153543  26.294153  25.841856  25.900444    -0.021601
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955
2016-10-31  26.497908  26.633138  26.392988  26.472261          NaN
2016-11-30  26.153543  26.294153  25.841856  25.900444          NaN
2016-12-31  27.337008  27.465899  27.051099  27.142496          NaN
2017-01-31  28.391588  28.447832  28.267382  28.438457          NaN
2017-02-28  32.264075  32.348808  32.174635  32.242893          NaN
2017-03-31  33.826904  33.956356  33.659792  33.812782          NaN
2017-04-30  33.913998  33.963427  33.720999  33.810436          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [59]:
'''
We change the name of the first column to not get interference
between the two DataFrames
'''
df_2017.columns = ['Change', 'High','Low','Close'] 
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197          NaN        NaN
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287        NaN
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211        NaN
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921        NaN
2016-05-31  23.096982  23.282501  22.916103  23.157276     0.071773        NaN
2016-06-30  21.900392  22.208814  21.867926  22.169392    -0.042660        NaN
2016-07-31  24.161390  24.244873  24.043122  24.166027     0.090063        NaN
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652        NaN
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504        NaN
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334        NaN
2016-11-30  26.153543  26.294153  25.841856  25.900444    -0.021601        NaN
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955        NaN
2016-10-31        NaN  26.633138  26.392988  26.472261          NaN  26.497908
2016-11-30        NaN  26.294153  25.841856  25.900444          NaN  26.153543
2016-12-31        NaN  27.465899  27.051099  27.142496          NaN  27.337008
2017-01-31        NaN  28.447832  28.267382  28.438457          NaN  28.391588
2017-02-28        NaN  32.348808  32.174635  32.242893          NaN  32.264075
2017-03-31        NaN  33.956356  33.659792  33.812782          NaN  33.826904
2017-04-30        NaN  33.963427  33.720999  33.810436          NaN  33.913998

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.